### Q1 What is database? Differentiate brtween SQL and NoSQL databases.

In [1]:
''' In computing, a database is an organized collection of data stored and accessed electronically through the use of a database management system.
Small database can be stored on a file system,while large database are hosted on computer cluster or cloud storage'''

' In computing, a database is an organized collection of data stored and accessed electronically through the use of a database management system.\nSmall database can be stored on a file system,while large database are hosted on computer cluster or cloud storage'

In [2]:
# SQL and NoSQl database
'''SQL database are table based, while NoSQL database are document,key-value,graph,or wide-column stores. SQL database are better for multi-row transactions,
while NoSQL is better for unstructured data like document and JSON.  '''

'SQL database are table based, while NoSQL database are document,key-value,graph,or wide-column stores. SQL database are better for multi-row transactions,\nwhile NoSQL is better for unstructured data like document and JSON.  '

### Q2 What is DDL? Explain why CREATE,DROP,ALTER,and TRUNCATE are used with example.

In [3]:
''' In the context of SQL, DDL is a syntax for creating and modifying database objects such as tables,indices,and users. DDL statments are similar to a computer
programing language for defining data structures,especially database schemas.'''

' In the context of SQL, DDL is a syntax for creating and modifying database objects such as tables,indices,and users. DDL statments are similar to a computer\nprograming language for defining data structures,especially database schemas.'

In [ ]:
# CREATE
CREATE TABLE Student_info(
College_Id number(2),
College_Name Varchar(30),
Branch Varcar(10)
)

In [ ]:
# ALTER
ALTER TABLE Student_info
ADD CGPA number;

In [ ]:
# DROP 
DROP TABLE Student_info;

In [ ]:
# TRUNCATE
TRUNCATE TABLE Student_info;

### Q3 What is DML? Explain INSERT,UPDATE,and DELETE with an example.

In [7]:
''' A data manipulation language is a computer programing language used for adding, deleting, and modifying data in a database. aA DML is often a sublanguage
of a broader language such as SQL, with DML comprising some 0f the operators in the language. '''

' A data manipulation language is a computer programing language used for adding, deleting, and modifying data in a database. aA DML is often a sublanguage\nof a broader language such as SQL, with DML comprising some 0f the operators in the language. '

In [ ]:
# INSERT 
Insert info Employee(Emp_Id,Emp_name)values(001,"Sahil")
Insert info Employee(Emp_Id,Emp_name)values(002,"Himanshu")
Insert info Employee(Emp_Id,Emp_name)values(003,"Jatin")

In [ ]:
# UPDATE
SELECT * from Employee;

In [ ]:
# DELETE
DELETE from Employee WHERE Emp_Id=002;

### Q4 What is DQL? Explain SELECT with an example.

In [8]:
''' Data Query Languages, often knows as DQLs, are computer language that are used to make various queries in information system and databases. The SQL is a well 
known example. DQL  statements are used to query the data contained in schema objects.'''

' Data Query Languages, often knows as DQLs, are computer language that are used to make various queries in information system and databases. The SQL is a well \nknown example. DQL  statements are used to query the data contained in schema objects.'

In [ ]:
SELECT College_Id from Student_info

### Q5 Explain Primary Key and Foreign Key.

In [9]:
'''A primary key generally focuses on the uniqueness of the table. It assure the value in the specific column is unique. A foreign key is generally used to build
a relationship between two tables. The table allows anly one primary key.'''

'A primary key generally focuses on the uniqueness of the table. It assure the value in the specific column is unique. A foreign key is generally used to build\na relationship between two tables. The table allows anly one primary key.'

### Q6 Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connecter
myconn=mysql.connecter.connect(host="localhost",user="root",password="google")
print(myconn)

In [10]:
# cursor()
''' The MySQLCursor class instantiates objects that can execute opreations such as SQL statements. Cursor object intract with the MySQL srever using a 
MySQLConnection object. To create a cursor() method of a connection object .'''

' The MySQLCursor class instantiates objects that can execute opreations such as SQL statements. Cursor object intract with the MySQL srever using a \nMySQLConnection object. To create a cursor() method of a connection object .'

In [11]:
# execute()
''' Execute () method. This method executes the given database operation. The parameters found in the tuple or dictionary params are bound to the variables in 
the operation. Specify variables using %s or%(name)s parameter style (that is, using format or pyformat style)'''

' Execute () method. This method executes the given database operation. The parameters found in the tuple or dictionary params are bound to the variables in \nthe operation. Specify variables using %s or%(name)s parameter style (that is, using format or pyformat style)'

### Q7 Give the order of execution of SQL clauses in an SQL query.

In [ ]:
SELECT
    f.product as beer
    p.product as crisps
FROM 
    fridge f
CROSS JOIN
    pantry p
WHERE 
    f.product = 'BEER'
    AND f.temperature<5
    AND f.size ='50 fl oz'
    AND p.product='Crisps'
    AND p.style ='Cream Cheese'
    AND p.size ='250g'
ORDER BY
    crisps
    beer
    ;